<html>
	<head>
		<title>{% block titleblock %}Je loue mon matos{% endblock %}</title>
	</head>

	<body>
		{% block bannerblock %}<h1>Je loue mon matos</h1>{% endblock %}
		{% block headerblock %}
			<header>
				<a href="{{path('br_renter_form')}}">Proposer mon matos</a>
				{% if app.user %}
					<a href="{{path('fos_user_security_logout')}}">Déconnexion</a>
				{% else %}
					<a href="{{path('fos_user_security_login')}}">Inscription / Connexion</a>
				{% endif %}
			</header>
		{% endblock %}	
		{% block searchblock %}
			<section>
				<select name="matos-type">
					<option value="0" selected>Qu'est-ce que je cherche?</option>
					{% for matosType in matosTypesList %}
					<option value="{{matosType.id}}">{{matosType.name}}</option>
					{% endfor %}
				</select>
				<input type="text" name="location" placeholder="Où ça ?" />
				<input type="checkbox" name="geolocation" /> Près de moi
				<input type="submit" value="Rechercher"/>
			</section>
		{% endblock %}
		{% block contentblock %}
		<h2>Ici les résultats de la recherche</h2>
		{% endblock %}
	</body>	
</html>